<html {{ function('language_attributes') }}>

  <head>
    {% block head %}
      {% include 'partials/head.twig' %}
    {% endblock %}
  </head>

  <body class="{{ body_class }}" data-source="base.twig">

    <header class="site-header">
      {{ function('do_action', 'get_header') }}
      {% block header %}
        {% include 'partials/header.twig' %}
      {% endblock %}
    </header>

    <main role="main" class="main">
      {% block content %}
      {% endblock %}
    </main>

    <footer class="site-footer" role="contentinfo">
      {{ function('do_action', 'get_footer') }}
      {% block footer %}
        {% include 'partials/footer.twig' %}
      {% endblock %}
    </footer>

    {{ function('wp_footer') }}

  </body>

</html>
